


.modals{
    position: fixed; 
    top: 22vh;
    left: 10%;
    z-index:100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    width: 80%;
}
    
    @media (min-width: 768px) {
        .modals{
             left: calc(50% - 20rem);
        width: 40rem;
        }
       
  
}


