.card{
    display: flex;
    height: 400px;
}
.logo-container {
    flex: 0.3;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 227, 253);
}
.info-container {
    flex: 0.7; 
    background-color: rgb(236, 236, 236);
    
}

.info-details{
    display: flex;
    flex-direction: column;
}